/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* --------------------- */
/* Reset                 */
/* --------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0%;
}

/* set up the body */
body {
  font-family: "Open Sans", sans-serif;

  line-height: 1.5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------- */
/* Utility classes                 */
/* --------------------- */

:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a744;
  --color-danger: #dc3644;
  --color-warning: #ffc109;
  --color-info: #18a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #ffff;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/*  custom styles */

body.dark {
  background-color: #111;
  transition: all 300ms;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.ball {
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: all 300ms ease-in-out;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.bi-moon-fill {
  color: #f1c40f;
}
.bi-brightness-high-fill {
  color: #f1c40f;
}
